<!--The content below is only a placeholder and can be replaced.-->

<div class="header-fill">
  <div class="header">
      <div class="info">
         
          
            <h1>Sibusiso Manana</h1>
            <h1>Web designer-Mobile developer </h1>
             
      </div>
      <div class="image">
        <p><img src="../assets/profile4.png" style="align-items:far-right" width="200px"></p>
      </div>
                
    </div>
</div>
                  
                <style>
                  *{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  }
                  .header-fill{
                    width: px;
                    background:chocolate;
                    color: aliceblue;
                    text-decoration: white;
                  }
                  .header{
                    margin: auto;
                    overflow: hidden;
                    display: flex;
                    width: 70vw;

                  }
                  .info{
                   width: 36%;
                  }
                  .image{
                    width: 70%;
                    width: 300px;

                    position: relative;
                    right: 0;
                  }
                  h1 {
      color: white;
      text-align: center;
}
.planguages {
  display: flex;
  flex-direction: row;
  width: 400px;
  overflow: hidden;
}
                </style>
                <div class="Information">
                    <style>
                        .Information{
                          width: 500px;
                          background:#fff;
                          overflow: hidden;
                          float: left;
                          height: 100vh;
                          padding-left: 180px;

                        }
                      </style> 
                 
                    <h3>About</h3>
                    <p><img src="../assets/phone.png" width= "20px" style="align-items: left">0671224425</p> 
                    <p><img src="../assets/email.png" width="20px" style="align-items: left;"> s.manana001@gmail.com</p>
                    <p> <img src="../assets/male.png" width="20px" style="align-items: left;"> Male|24 years old|Marital status:Single </p>
                  <p> <img src="../assets/date.png" width="20px" style="align-items: left;">Date of birth:1st January 1995</p>
                  <br>
                  <a routerLink="/contact-me" >Please Click here for more</a>
                  
                    <p>Experienced Software Developer adept in bringing forth expertise in design, installation, testing and maintenance of software systems. Equipped with a diverse and promising skill-set. Proficient in various platforms,languages. Experienced with the latest cutting edge development tools and procedures. Able to effective collaborate as part of a productive team.Personal qualities I have:
                        Web content Developer|Team-player| Communication skillsng | User Interface designer| User experiance designer 
                        <br>
                        <br>
                     
                     
                        
                          <div class="planguages">
                            <div class="lang">
                              <h3>Development Platforms</h3>

                                   <li>React Native</li>
                                   <li>VS Code</li>
                                   <li>Native Script</li>
                                    <li>Ionic</li>
                                    <li>Flutter</li>
                                    <li>Xamarin</li>
                            </div>
                            <div class="lang">
                                <h3>   |Languages</h3>
                                <li>Html5</li>
                                <li>Css</li>
                                 <li>Javascript</li>
                                 <li>C#</li>
                                
                            </div>
                          </div>
                        </div>
          
 
 

  <table width="50%" height="50" style="margin:auto;" >
    <tr>
      <td colspan="5">
          <h3>Education & Career Background</h3>
      </td>
    </tr>
      
  <tr>
    <td class="top" bgcolor="chocolate">Start</td>
    <td class="top" bgcolor="chocolate">End</td>
    <td class="top" bgcolor="chocolate">Name of Institution</td>
    <td class="top" bgcolor="chocolate">Results</td>
    <td class="top" bgcolor="chocolate">Skills Highlight</td>

  </tr>
  <tr>
    <td>2011</td>
    <td>2014</td>
    <td>Ennerdale Secondary School</td>
    <td>Passed successfully</td>
  </tr>
  <tr>
    <td>2016</td>
  <td>2017</td>
  <td>IIE (Rosebank College)</td>
  <td>Completed</td>
  </tr>
  
  <tr>
    <td>2017</td>
    <td>2017</td>
    <td>Johannesburg Centre of Software Engineering(JCSE)</td>
    <td>UI|UX Design (3months)</td>
  </tr>
  <tr>
  <td>2018</td>
  <td>2019</td>
  <td>Tshimologong Digital Academy(Learnership)</td>
  <td>Comptia A+|Microsoft Technology Associate(MTA)</td>
  <td>In July 17 2018,was awarded 2nd Place in the World of Science and Explorer Hackathon Challenge.<br>On the 2nd March 2019,was awarded for partisipating in the Advanced Learning Workshop in Electronics and Internet of Things</td>
  </tr>
  <br>
  <tr> 
      <td>2019</td>
      <td>2019</td>
      <td>Code Tribe Mlab Southern Africa - soweto</td>
      <td>Innovation Tech Hub Software & Mobile developer (6months)</td>
  </tr>

  </table>
<br>
 
  <table width="50%" height="50" style="margin:auto;">
      

<tr>
    <td colspan="5">
        <h3>Reference</h3>
    </td>
  </tr>
    <tr>
  <td class="top" bgcolor="chocolate">Name </td>
  <td class="top" bgcolor="chocolate">Surname</td>
  <td class="top" bgcolor="chocolate">Organisation</td>
  <td class="top" bgcolor="chocolate">Contact details</td>
    </tr>
  
  <tr>
  <td>Harmony</td>
  <td>Makumbirofa</td>
  <td>Tshimologong Academy Mentor</td>
  <td>harmony@tshimologong.joburg</td>
  <td>073 024 6540</td>
  </tr>
  <tr>
    <td>Nkululeko</td>
  <td>Tunzi</td>
  <td>TMG Makerspace</td>
  <td>nkululeko@olroundtech.co.za</td>
  <td>078 591 5627</td>
  </tr>
  
  </table>
  <br>

  <div class="footer"><br>
     <p><img src="../assets/facebook.png" style="align-items: center" width="30">
      <img src="../assets/linkedin.png" style="align-items:center" width="30">
      <img src="../assets/twitter.png" style="align-items:center" width="30"> </p>    
      
      
  </div>
  <style>.footer{
      overflow: hidden;
      width: auto;
      text-align: center;
     
    
    }</style>
    


