<div id="contact-form">
   
  <div>
    
    
    <h1>hello there!!!</h1> 
    <h1>Please fill the form below.</h1> 
  </div>


       <form method="post" action="/">
      <div>
          <label for="name">
            <span class="required">Name: *</span> 
            <input type="text" id="name" name="name" value="" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus" />
          </label> 
      </div>
      <div>
          <label for="email">
            <span class="required">Email: *</span>
            <input type="email" id="email" name="email" value="" placeholder="Your Email" tabindex="2" required="required" />
          </label>  
      </div>
      
      <div>             
          <label for="message">
            <span class="required" >Message: </span>
            <textarea id="message" name="message" placeholder="Please write your message here." tabindex="5" required="required"></textarea> 
          </label>  
      </div>
      <br>
      <div>              
          <button name="submit" type="submit" id="submit" >Submit</button> 
      </div>
      <br>
  
  


       </form>
   <p><a routerLink="/about-me"><img src="https://img.icons8.com/material-sharp/24/000000/circled-chevron-left.png"></a></p>
  </div>



              
    


